/*===================================

Reset 

===================================*/

* {
    margin:0;
    padding:0;
}

/*===================================

general

===================================*/

body {
	/*background-color:#d7a7e8;*/
	background-color: #9999ff
}

/*===================================

nav

===================================*/

#navBar {
	height:100px;
	width:100%;
	position:relative;
	background-color:#e9cbf4;
	top:-20px;
	margin-bottom:20px;
}


button {
	height:30px;
	display:inline-block;
	margin:30px 0 0 20px;
	border-radius:5px;
	background-color:#fff;
	padding:0 10px 0 10px;


}
#container {
    background-color: #2c8c87;
    width: 500px;
    border-radius:5px;
    vertical-align: middle;
    position:relative;
    margin:0 auto;
    border-radius:5px;
}
.unit {
    background-color: #68ffd6;
    height: 23px;
    width: 23px;
    margin: 1px;
    display: inline-block;
    float: left;
    border-radius:2px;

}

.mouseenter {
	background-color: yellow;
}

.mouseleave {
	background-color: #111;
}

.draw {
	/*background-color: lime;*/
}

.rainbow-background {
	background-color: purple;
}

.black-pen {
	background-color: black;
}

